body
	font-size 21px

.fecha
	display inline-block
	font-size 16px
	a
		&:hover
			color black
			text-decoration none

.tag
	background-color #007fff
	border-radius 1em
	color white
	display inline-block
	margin-left 0.4em
	padding 0.1em 0.3em

.titulo
	a
		color black
		&:hover
			color grey
			text-decoration none

